/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 28 oct. 2022, 13:30:21
    Author     : arthur.demoisson
*/

.ok{
    float:right;
}

img{
    float :left;
    padding-bottom: 30px;
    padding-right: 30px;
}
